<div class=" w-100">
  <footer class="text-center text-lg-start text-white w-100" style="background-color: #1c2331; width:100%">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold f-base text-14px">Company name</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto f-base " style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p class="text-13px">John MUGIRANEZA Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold f-base text-14px">Company</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p class="text-13px"><a href="#!" class="text-white f-base">Design</a></p>
            <p class="text-13px"><a href="#!" class="text-white f-base">Beveloper</a></p>
            <p class="text-13px"><a href="#!" class="text-white f-base">Full-stack</a></p>
            <p class="text-13px"><a href="#!" class="text-white f-base">Help</a> </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 f-base">
            <h6 class="text-uppercase fw-bold f-base text-14px">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p class="text-13px"><i class="fas fa-home mr-3 "></i> Remote</p>
            <p class="text-13px"><i class="fas fa-envelope mr-3"></i> mujohn25@gmail.com</p>
            <p class="text-13px"><i class="fas fa-phone mr-3"></i> + 250 7855 71790</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3 f-base text-13px" style="background-color: rgba(0, 0, 0, 0.2)" >
      © 2023 Copyright:
      <a class="text-white f-base text-13px">mujohn25</a>
    </div>
  </footer>

</div>
